<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CDatos.Properties.Settings.Conexion" connectionString="Data Source=disenioutnfrsf.database.windows.net;Initial Catalog=TPDiseño;Persist Security Info=True;User ID=admin1234;Password=diseño2016!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>